html, body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Josefin Sans";
  color: white;
}

* {
  font-family: "Josefin Sans";
}

canvas {
  display: block;
  border-radius: 1em;
}

button {
  display: block;
  background: #dcc581;
  border: unset;
  color: black;
  font-size: 1.5em;
  font-family: "Josefin Sans";
  padding: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
}

button:hover {
  background: #ffbf00;
  cursor: pointer;
}

input {
  font-size: 2em;
  padding-top: 0.3em;
  border-radius: 0.25em;
}

input[type=color] {
  padding: 0.1em;
  height: 1.2em;
}

input[type=file] {
  font-size: 1.2em;
  padding: 0.1em;
  height: 1.2em;
}
